
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image:  url(xbox-logo.jpg);
}

.form  input[type="submit"]{
    border-radius: 10px;
    text-decoration:none;
    width: 100px;
    height:50px;
    transform:translate(50%, 70%);
    border: 2px solid slategray;
    cursor: pointer;
}
.form input[type="text"], .form[type="password"]{
    border: 2px solid slategray;
    padding: 4px 150px;
}
.new-games{
    text-decoration: none;
    font-family: fantasy;
    border: solid 5px;
    padding: 14px;
    top:50%;
}
a{
    text-decoration: none;
}